@charset "utf-8";
/* index.html start */
.center {width: 1200px; margin: 0 auto;}

/* button css start*/
.btn_common{display: inline-block; border: 1px solid #fff; padding: 10px 20px; font-size: 14px; color: #fff; letter-spacing: 5px;}
.btn_common:hover {color: #000; background-color: #fff;}
/* button css end */

header {border-top: 30px solid #333; }
header .logo {padding: 25px 0;}
header .center {position: relative;}
header .gnb {position: absolute; top: 30px; left: 300px;}
header .gnb::after {content: ""; display: block; clear: both;}
header .gnb li {float: left; padding: 0 40px; position: relative;}
header .gnb li a {font-size: 16px;}
/*header .gnb li div {height: 3px; background-color: #000; position: absolute; bottom: -10px; width: 0; transition: all 0.5s; left: 50%;}*/
header .gnb li a::after {display: block; content: ""; width: 0px; height: 3px; background: #000; margin: 5px auto; transition: all 0.5s;}
/*header .gnb li div {border-bottom: 2px solid #000; position: absolute; bottom: -10px; width: 0; transition: all 0.5s; left: 50%;}*/
header .gnb li:hover a::after {width: 100%; }
header .util {position: absolute; top: -24px; right: 0;}
header .util li {display: inline; padding-left: 40px;}
header .util li a {color: #fff; font-size: 11px;}

.visual {position: relative; height: 650px; overflow: hidden; min-width: 1200px;}
.brand-visual li {position: absolute; top: 0; width: 100%; background-position: center top; text-indent: -2000px; overflow: hidden;}
.brand-visual a {display: block; height: 650px;}
.brand-visual li:nth-child(1) {left: 0; background-image: url(../images/banner_main_01.jpg);}
.brand-visual li:nth-child(2) {left: 100%; background-image: url(../images/banner_main_02.jpg);}
.brand-visual li:nth-child(3) {left: 200%; background-image: url(../images/banner_main_03.jpg);}
.button-list {position: absolute; overflow: hidden; bottom: 30px; left: 50%; margin-left: -27px;}
.button-list li {float: left; width: 24px; height: 3px; margin: 0 5px; background-color: #fff; text-indent: -100px; overflow: hidden; cursor: pointer;}
/*.button-list li.on {background-position: 0 0;}*/
.button-list li.on {background-color: #000;}

.best h3 {padding: 95px 0 15px; text-align: center;}
.best ol {overflow: hidden;}
.best li {float: left; width: 285px; margin-left: 20px;}
.best li div {padding-top: 325px; color: #666;}
.best li a {display: block; background-repeat: no-repeat; padding-bottom: 40px;}
.best li a span {display: block; height: 285px; font-size: 14px; background-color: rgba(0, 0, 0, 0.4); color: #fff; padding-top: 205px; box-sizing: border-box; text-align: center; opacity: 0; transition: opacity, 0.5s;}
.best li a:hover span{opacity: 1;}
.best li div::first-line {font-size: 17px; color: #000;}
.best li div {text-align: center; padding-top: 10px; font-size: 15px;}
.best li:first-child {margin-left: 0;}
.best li:nth-child(1) a {background-image: url(../images/img_menu_01.jpg); background-repeat: no-repeat;}
.best li:nth-child(2) a {background-image: url(../images/img_menu_02.jpg); background-repeat: no-repeat;}
.best li:nth-child(3) a {background-image: url(../images/img_menu_03.jpg); background-repeat: no-repeat;}
.best li:nth-child(4) a {background-image: url(../images/img_menu_04.jpg); background-repeat: no-repeat;}


.dcgift {background-image: url(../images/banner_bar_01.jpg); background-position: center; margin: 60px 0 90px;}
.dcgift p {background-image: url(../images/banner_bar_01.jpg); height: 213px; background-position: center; padding: 135px 0 0 310px; box-sizing: border-box;}

.event {overflow: hidden; padding-bottom: 100px;}
.event p {float: left;}

.fcoffee {display: block; background-image: url(../images/banner_bar_02.jpg); height: 250px; background-position: center top; min-width: 1200px;}

.ct-store{overflow: hidden; padding: 100px 0;}
.ct-store p {height: 250px; width: 600px; background-image: url(../images/img_catalogue.gif); float: left; padding: 160px 0 0 370px; box-sizing: border-box;}
.ct-store fieldset {height: 250px; width: 600px; background-image: url(../images/img_store.gif); padding: 165px 0 0 305px; box-sizing: border-box;}
.ct-store fieldset input {width: 223px; height: 41px; font-size: 18px; text-indent: 15px;}

.news h3 {padding-bottom: 40px; text-align: center; }
.news-notice .news-bg {background-color: #f3f3f3; overflow: hidden; letter-spacing: -1px;}
.news-notice .news-bg > div {padding: 40px; box-sizing: border-box; float: left; width: 600px; position: relative;}
.news-notice .news-bg h4 {font-size: 22px; border-bottom: 1px solid #808080; padding-bottom: 6px; margin-bottom: 14px; font-weight: 500;}
.news-notice .news-bg li {line-height: 34px; font-size: 14px; overflow: hidden;}
.news-notice .news-bg .date {float: right;}
.news-notice .news-bg > div p {position: absolute; top: 45px; right: 40px;}

.sns h3 {padding: 100px 0 18px; text-align: center;}
.sns h4+ul {text-align: center; padding-bottom: 40px;}
.sns h4+ul li {display: inline; padding: 0 5px;}
.sns ul:nth-of-type(2) {overflow: hidden; padding-bottom: 80px;}
.sns ul:nth-of-type(2) li {float: left; width: 285px; height: 285px; margin: 0 0 20px 20px; text-indent: -500px; overflow: hidden;}
.sns ul:nth-of-type(2) li a {display: block; height: 285px; background-size: 100%; transition: background 0.5s; background-position: center;}
.sns ul:nth-of-type(2) li:nth-child(4n+1) {margin-left: 0;}
.sns ul:nth-of-type(2) li:nth-child(1) a {background-image: url(../images/img_insta_01.jpg);}
.sns ul:nth-of-type(2) li:nth-child(2) a {background-image: url(../images/img_insta_02.jpg);}
.sns ul:nth-of-type(2) li:nth-child(3) a {background-image: url(../images/img_insta_03.jpg);}
.sns ul:nth-of-type(2) li:nth-child(4) a {background-image: url(../images/img_insta_04.jpg);}
.sns ul:nth-of-type(2) li:nth-child(5) a {background-image: url(../images/img_insta_05.jpg);}
.sns ul:nth-of-type(2) li:nth-child(6) a {background-image: url(../images/img_insta_06.jpg);}
.sns ul:nth-of-type(2) li:nth-child(7) a {background-image: url(../images/img_insta_07.jpg);}
.sns ul:nth-of-type(2) li:nth-child(8) a {background-image: url(../images/img_insta_08.jpg);}

footer {background-color: #333; color: #fff;}
footer .bot-menu {overflow: hidden; border-bottom: 1px solid #808080; line-height: 50px;}
footer .bot-menu p {float: right; padding-left: 50px;}
footer .bot-menu ul:nth-of-type(1) {float: left;}
footer .bot-menu ul:nth-of-type(1) li {display: inline; padding-right: 40px;}
footer .bot-menu ul:nth-of-type(1) li a {color: #fff; font-size: 16px; font-weight: 300;}
footer .bot-menu ul:nth-of-type(2) {float: right;}
footer .bot-menu ul:nth-of-type(2) li {display: inline; padding-left: 10px;}
footer .bot-address {padding: 30px 0; font-size: 14px; overflow: hidden;}
footer .bot-address p {float: left; padding-top: 25px;}
footer .bot-address address {float: left; padding-left: 20px; width: 940px; font-weight: 300;}
footer .bot-address .pa {display: block; height: 15px;}
/* index.html end */

/* prepare.html start */

body.prepare .open {background-image: url(../images/img_prepare.jpg); background-repeat: no-repeat; height: 800px; background-position: center top; min-width: 1200px;}

/* prepare.html end */

/* history.html start */

body.history .aboutus {background-image: url(../images/bg_history.jpg); background-repeat: no-repeat; height: 700px; background-position: center top; min-width: 1200px; color: #fff; text-align: center; background-attachment: scroll, fixed; width: 100%;}
body.history .aboutus h3 {font-size: 60px; padding: 150px 0 125px;}
body.history .aboutus_content {width: 1000px; height: 160px; font-size: 14px; text-align: left;  overflow: hidden; line-height: 24px; border-top: 1px solid #fff; border-bottom: 1px solid #fff;}
body.history .aboutus_content p:nth-child(1) {float: left; padding: 30px;}
body.history .aboutus_content p:nth-child(2) {float: right; padding: 30px;}
body.history .our_history h3 {text-align: center; padding: 200px 0 100px;}
body.history .history_list {position: relative;}
body.history .history_list .center_line {position: absolute; background-color: #821222; width: 1px; height: 100%; left: 50%;}
body.history .history_list>div {overflow: hidden;}
body.history .history_list div {font-size: 14px;}
body.history .left {float: left; width: 50%; text-align: right; padding-right: 30px; box-sizing: border-box;}
body.history .right {float: right; width: 50%; padding-left: 30px; box-sizing: border-box;}
body.history .history_list > div div {width: 460px; height: 380px; padding: 275px 0 0; background-repeat: no-repeat; text-align: center; font-size: 20px; font-weight: bold; box-sizing: border-box;}

body.history .history_list div:nth-of-type(1) div {background-image: url(../images/img_history_01.jpg);}
body.history .history_list div:nth-of-type(2) div {background-image: url(../images/img_history_02.jpg);}
body.history .history_list div:nth-of-type(3) div {background-image: url(../images/img_history_03.jpg);}
body.history .history_list div:nth-of-type(4) div {background-image: url(../images/img_history_04.jpg);}
body.history .history_list div:nth-of-type(5) div {background-image: url(../images/img_history_05.jpg);}
body.history .history_list div:nth-of-type(6) div {background-image: url(../images/img_history_06.jpg);}
body.history .history_list div:nth-of-type(7) div {background-image: url(../images/img_history_07.jpg);}
body.history .history_list div:nth-of-type(8) div {background-image: url(../images/img_history_08.jpg);}
body.history .history_list div:nth-of-type(9) div {background-image: url(../images/img_history_09.jpg);}

body.history .history_list dl {line-height: 36px;}
body.history .history_list dd {line-height: 30px;}
body.history .history_list dt {font-size: 22px; font-weight: bold;}
body.history .history_list dl.right dt::before, body.history .history_list dl.left dt::after {content: ""; width: 16px; height: 16px; margin-top: 12px; position: absolute; left: 50%; margin-left: -8px;  background-color: #821222; border-radius: 100%;}
/* history.html end */

/* event.html start */
body.evt .event_top {background-image: url(../images/bg_event_top.jpg); background-repeat: no-repeat; height: 350px; background-position: center top; min-width: 1200px;}

.loca_top {position: relative;}
.location {position: absolute; top: 10px; right: 10px; font-size: 14px;}
.location li {display: inline; margin-left: 3px;}
.location li:first-child {margin-left: 0; font-size: 18px;}
.board {font-size: 14px;}
.board .evt_title {overflow: hidden; line-height: 100px; margin-top: 100px; border-top: 2px solid #000; color: #555555;}
.board .evt_title li:nth-child(1) {float: left; margin-left: 32px}
.board .evt_title li:nth-child(2) {float: right; margin-right: 8px;}
.board .content {border-top: 2px solid #000; border-bottom: 2px solid #000;padding: 100px 0;}
.board .btn_list { margin: 50px 0; text-align: center;}
.board .btn_list a {display: inline-block;  padding: 10px 20px; background-color: #821222; letter-spacing: 15px; text-indent: 15px; font-size: 18px; color: #fff; border: 2px solid #fff; transition: all 0.5s;}
.board dl {overflow: hidden; border-top: 1px solid #959595;}
.board dl:nth-child(2) {border-bottom: 1px solid #959595;}
.board dl dt, .board dl dd {float: left; line-height: 60px;}
.board dl dt {width: 200px; text-align: center; font-weight: bold;}
.board dl dd, .board dl dd a {color: #555555;}
.board dl dd:nth-of-type(1) {width: 800px;}
.board dl dd:nth-of-type(2) {width: 200px; text-align: right; padding-right: 8px; box-sizing: border-box;}
.board .btn_list + div {padding-bottom: 200px;}

/* event.html end */

/* menu.html start */
body.menu .menu_top {background-image: url(../images/bg_menu_top.gif); background-repeat: no-repeat; height: 350px; background-position: center top; min-width: 1200px;}

.new_menu {padding-bottom: 100px;}
.title {overflow: hidden; background-color: #e6e6e6; margin: 100px auto; padding: 20px; box-sizing: border-box; line-height: 35px;}
.title p {float: left; font-size: 14px;}
.title select {float: right; width: 400px; height: 35px; padding: 0 40px 0 15px; border: 1px solid #fff; background-image: url(../images/ic_select_arrow.png); background-repeat: no-repeat; background-position: right 15px center; -webkit-appearance:none;font-size: 14px;}
/* menu.html end */

/* media query start*/
header .m-gnb {display: none;}
@media screen and (min-width:641px) {
    .news .news-bg li a:hover {color: #b20b0b;}
    footer .bot-menu ul:nth-of-type(1) li a:hover {text-decoration: underline;}
    .sns ul:nth-of-type(2) li a:hover {background-size: 110%;}
}
@media screen and (max-width:640px) {
    header .gnb, header .util, header fieldset, .visual .button-list, .dcgift, .fcoffee, .cs, .notice, .sns ul:nth-of-type(2) li:nth-child(5), .sns ul:nth-of-type(2) li:nth-child(6), .sns ul:nth-of-type(2) li:nth-child(7), .sns ul:nth-of-type(2) li:nth-child(8), .sns ul:nth-of-type(1)  {display: none;}
    header {border-top: none;}
    header .m-gnb {display: block;}
    header .m-gnb img {width: 10%;}
    img {width: 100%;}
    .center {width: 100%;}
    header .logo {float: inherit; padding-right: 0; text-align: center;}
    header .logo img {width: 45%;}
    header .m-gnb {position: absolute; top: 6.5vw; left: 88%;}
    
    .visual {height: 125vw; min-width: inherit;}
    .brand-visual a {height: 125vw; background-size: 100%;}
    .brand-visual .visual01 a{background-image: url(../images/m_banner_main_01.jpg);}
    .brand-visual .visual02 a{background-image: url(../images/m_banner_main_02.jpg);}
    .brand-visual .visual03 a{background-image: url(../images/m_banner_main_03.jpg);}

    .best h3 {padding: 5vw 0 1vw;}
    .best h3 img {width: 37.3%;}
    .best li {width: 47%;}
    .best li div {padding-top: 48vw; font-size: 2.4vw;}
    .best li div::first-line  {font-size: 2.8vw}
    .best li a {padding-bottom: 4vw; background-size: 100%; background-position: center top;}
    .best li a span {display: none;}
    .best li:nth-child(n+1) {margin-left: 2%;}
    .best li:nth-child(2n) {margin: 0 2%;}

    .event {padding-top: 5vw; padding-bottom: 0;}
    .event p {float: inherit;}
    .news h3 {padding: 5vw 0 4vw;}
    .news h3 img{width: 50%;}
    .news .news-bg .news {width: 100%; padding: 6.8vw;}
    .news .news-bg .news p {top: 7.5vw; left: 85.5%; width: 7%;}
    .news .news-bg h4 {font-size: 3.5vw;}
    .news .news-bg li {line-height: 6.6vw; font-size: 3vw;}
    .news .news-bg li a {display: block;}
    .news .news-bg li a span:nth-of-type(1) {float: left; width: 75%;}
    .news .news-bg .date {width: 16%;}
    
    .sns h3 {padding: 5vw 0 4vw;}
    .sns h3 img{width: 52%;}
    .sns ul:nth-of-type(2) ul {padding-bottom: 5vw;}
    .sns ul:nth-of-type(2) li {width: 47%; height: 47vw; margin: 0 0 2vw 2%;}
    .sns ul:nth-of-type(2) li:nth-child(4n+1) {margin-left: 2%;}
    .sns ul:nth-of-type(2) li a {height: 47vw;}

    footer {width: 100%;}
    footer .bot-menu {overflow: hidden; border-bottom: 1px solid #808080; line-height: 7vw;}
    footer .bot-menu p {display: none;}
    
    footer .bot-menu ul:nth-of-type(1) {float: inherit; text-align: center; width: 80%; padding: 0 10%}
    footer .bot-menu ul:nth-of-type(1) li {padding: 0 5%;}
    footer .bot-menu ul:nth-of-type(1) li:first-child {}
    footer .bot-menu ul:nth-of-type(1) li a {font-size: 3vw;}
    footer .bot-menu ul:nth-of-type(2) {float: inherit; text-align: center; padding-bottom: 1.8vw;}
    footer .bot-menu ul:nth-of-type(2) li img{width: 9%;}
    footer .bot-address {padding: 0; font-size: 2.5vw; text-align: center;}
    footer .bot-address p {float: inherit; width: 36.5%; margin: 0 auto; padding: 3vw 0;}
    footer .bot-address address {width: 90%; text-align: center; padding: 0 5% 2vw 5%;}
    
    body.prepare .open { height: 120vw; min-width: inherit; background-size: auto 100%;}
    
    body.history .aboutus {height: 100vw; min-width: inherit; background-size: auto 100%;}
    body.history .aboutus h3 {font-size: 8vw; padding: 10vw 0 5vw; line-height: 15vw}
    body.history .aboutus_content {width: 100%; height: 60vw; font-size: 2.8vw; text-align: center;  border: none; }
    body.history .aboutus_content p:nth-child(1) {float: inherit; padding: 0;}
    body.history .aboutus_content p:nth-child(2) {float: inherit; padding: 0 0 5vw;}
    body.history .our_history {padding: 5vw 2vw; box-sizing: border-box;}
    body.history .our_history h3 {width: 40%; margin: 5vw auto; padding: 0;}
    body.history .history_list div {font-size: 2.8vw;}
    body.history .left {width: 50%; padding-right: 5%;}
    body.history .right {width: 50%; padding-left: 5%;}
    body.history .history_list div div {display: none;}
    body.history .history_list dl {line-height: 4.5vw; padding-top: 5vw;}
    body.history .history_list dt {font-size: 4.5vw;}
    body.history .history_list dd {line-height: 4vw; padding: 1vw 0;}
    body.history .history_list dd:nth-of-type(1) {padding-top: 4vw;} 
    body.history .history_list dl.right dt::before, body.history .history_list dl.left dt::after {width: 2%; height: 2vw; margin-left: -1%; }
    
    body.evt .event_top {height: 40vw; min-width: inherit; background-size: auto 100%;}
    .loca_top {display: none;}
    .board {font-size: 3.2vw;}
    .board .evt_title {line-height: 5vw; margin-top: 5vw;}
    .board .evt_title li:nth-child(1) {float: inherit; margin: 1vw;}
    .board .evt_title li:nth-child(2) {float: left; margin: 1vw;}
    .board .content {border-top: 2px solid #000; border-bottom: 2px solid #000;padding: 5vw 0;}
    .board .btn_list { margin: 2vw 0; text-align: center;}
    .board .btn_list a {padding: 2vw 1vw; letter-spacing: 3vw; font-size: 3.5vw;}
    .board dl:nth-of-type(1), .board dl:nth-of-type(2) {width: 100%; padding: 5vw 2%; box-sizing: border-box;}
    .board dl dt, .board dl dd {float: left; line-height: 4vw;}
    .board dl dt {padding: 0; width:12%; font-weight: normal;}
    .board dl dd:nth-of-type(1) {width: 60%; padding: 0 5%;}
    .board dl dd:nth-of-type(2) {float: right; width: 18%; padding-right: 0;}
    .board .btn_list + div {padding-bottom: 5vw;}
    
    body.menu .menu_top {height: 40vw; min-width: inherit; background-size: auto 100%;}
    .new_menu {padding-bottom: 5vw;}
    .title {margin: 5vw auto; padding: 2% 2vw; box-sizing: border-box; line-height: 5.5vw;}
    .title p {float: left; font-size: 3vw;}
    .title select {float: inherit; width: 100%; height: 5vw; padding: 0 10% 0 3%; border: 1px solid #fff; background-position: right 4% center; font-size: 3vw;}
}
/* media query end*/

